In [31]:
import pandas as pd

df = pd.read_csv("./table2_nogrid_100.csv", header= None)

In [2]:
df

,0,1,2,3,4,5,6,7,8,9
0,SGC,cora,0.025,0.025,0.1,0.002,0.0005,74.579767,1.788957,73.823529
1,SGC,citeseer,0.025,0.025,0.1,0.002,0.0005,68.022152,1.123863,68.915663
2,SGC,pubmed,0.025,0.025,0.1,0.002,0.0005,77.805360,1.218494,78.174442
3,SGC,computers,0.025,0.025,0.1,0.002,0.0005,62.232935,2.946419,63.197674
4,SGC,photo,0.025,0.025,0.1,0.002,0.0005,65.048851,3.812430,64.397906
...,...,...,...,...,...,...,...,...,...,...
65,GAT,chameleon,0.600,0.200,0.1,0.002,0.0005,55.426696,2.183913,55.582418
66,GAT,film,0.600,0.200,0.1,0.002,0.0005,32.558581,2.105694,32.611842
67,GAT,squirrel,0.600,0.200,0.1,0.002,0.0005,25.523535,1.605147,26.451923
68,GAT,texas,0.600,0.200,0.1,0.002,0.0005,73.770492,5.437090,78.378378
69,GAT,cornell,0.600,0.200,0.1,0.002,0.0005,74.262295,4.639663,75.405405

In [5]:
import math
degrees = 99
confidence_lebel = 0.025
t_distribuation = 1.984
test = 1.788 / math.sqrt(100)
test * t_distribuation

0.7563861119999999

In [32]:
t_distribuation = 1.984 
num_of_samples = 100

df_sparse = df
print(df_sparse[1].unique())
data = []
for model in df_sparse[0].unique():
    
    row = [model]
    for dataset in df_sparse[1].unique():
        mean_acc = df_sparse[(df_sparse[0]==model) & (df_sparse[1]==dataset)][7]
        std = df_sparse[(df_sparse[0]==model) & (df_sparse[1]==dataset)][8]
        std_error = std / math.sqrt(num_of_samples)
        ci = std_error * t_distribuation

        row.append(mean_acc.values[0].round(2).astype(str) + " + " + ci.values[0].round(2).astype(str))
    data.append(row)
    row = []

table_sparse = pd.DataFrame(data, columns= ["model", 'cora', 'citeseer', 'pubmed', 'computers', 'photo', 'chameleon', 'film', 'texas',
 'cornell', 'squirrel'])

['cora' 'citeseer' 'pubmed' 'computers' 'photo' 'chameleon' 'film'
 'squirrel' 'texas' 'cornell']

In [36]:
print(table_sparse.to_latex(index=False))

\begin{tabular}{lllllllllll}
\toprule
  model &         cora &     citeseer &       pubmed &    computers &        photo &    chameleon &         film &        texas &      cornell &     squirrel \\
\midrule
    SGC & 74.58 + 0.35 & 68.02 + 0.22 & 77.81 + 0.24 & 62.23 + 0.58 & 65.05 + 0.76 & 42.34 + 0.67 & 29.97 + 0.16 & 30.84 + 0.43 & 61.15 + 1.29 &  41.8 + 0.98 \\
    MLP &  49.49 + 0.5 & 51.52 + 0.58 &  80.3 + 0.13 & 66.98 + 0.33 & 75.66 + 0.38 &  48.12 + 0.4 & 39.18 + 0.16 & 29.56 + 0.35 & 82.95 + 0.77 & 87.54 + 0.72 \\
  APPNP & 79.37 + 0.32 & 68.33 + 0.34 & 83.76 + 0.09 & 67.45 + 0.51 & 84.47 + 0.44 & 39.23 + 0.74 & 33.58 + 0.24 & 21.65 + 0.22 & 13.93 + 1.79 & 20.82 + 4.32 \\
ChebNet & 70.66 + 0.46 & 64.28 + 0.39 & 83.75 + 0.06 &  79.05 + 0.3 & 87.35 + 0.24 & 57.79 + 0.47 &  37.7 + 0.19 &  36.18 + 0.3 & 81.31 + 0.73 &  76.89 + 1.2 \\
  JKNet &  72.69 + 0.7 & 60.01 + 0.89 & 82.71 + 0.11 & 50.31 + 2.09 & 73.94 + 2.09 & 51.53 + 0.42 & 27.62 + 0.27 & 37.82 + 0.26 & 66.23 + 3.63 & 45.57 + 3.24 \\
    GCN & 75.02 + 0.23 & 67.31 + 0.37 & 83.83 + 0.09 & 69.89 + 0.62 & 81.16 + 0.65 & 58.73 + 0.36 & 30.56 + 0.18 &  34.97 + 0.3 & 66.89 + 1.11 & 57.54 + 1.34 \\
    GAT &   77.3 + 0.3 & 67.16 + 0.48 & 83.18 + 0.09 &  66.4 + 1.22 & 80.99 + 0.69 & 55.43 + 0.43 & 32.56 + 0.42 & 25.52 + 0.32 & 73.77 + 1.08 & 74.26 + 0.92 \\
 GPRGNN & 75.59 + 0.23 & 62.37 + 0.31 & 83.01 + 0.07 & 81.32 + 0.63 & 89.81 + 0.21 & 60.57 + 0.52 & 31.84 + 0.29 & 41.37 + 0.37 & 84.43 + 1.07 & 79.67 + 1.27 \\
\bottomrule
\end{tabular}

/tmp/ipykernel_595/1751774018.py:1: FutureWarning: In future versions `DataFrame.to_latex` is expected to utilise the base implementation of `Styler.to_latex` for formatting and rendering. The arguments signature may therefore change. It is recommended instead to use `DataFrame.style.to_latex` which also contains additional functionality.
  print(table_sparse.to_latex(index=False))

In [23]:
phi_dfs = []
phis = [-1.0, -0.75, -0.5, -0.25, 0, 0.25, 0.5, 0.75, 1]
for phi in phis:
    phi_csv = pd.read_csv(f"./cSBM_data_phi_{phi}.csv", header=None)
    phi_dfs.append(phi_csv)

combined = pd.concat(phi_dfs, axis=0)

,0,1,2,3,4,5,6,7,8,9
0,SGC,cSBM_data_phi_-1.0,0.025,0.025,0.1,0.002,0.0005,55.238897,2.743416,55.52
1,SGC,cSBM_data_phi_-1.0,0.600,0.200,0.1,0.002,0.0005,69.680000,1.474992,69.86
2,MLP,cSBM_data_phi_-1.0,0.025,0.025,0.1,0.002,0.0005,50.172595,0.568695,52.72
3,MLP,cSBM_data_phi_-1.0,0.600,0.200,0.1,0.002,0.0005,50.230000,1.410000,51.29
4,JKNet,cSBM_data_phi_-1.0,0.025,0.025,0.1,0.002,0.0005,50.833509,1.339646,53.44
...,...,...,...,...,...,...,...,...,...,...
11,GCN,cSBM_data_phi_1,0.600,0.200,0.1,0.002,0.0005,96.630000,0.673869,96.04
12,GAT,cSBM_data_phi_1,0.025,0.025,0.1,0.002,0.0005,78.337192,0.889859,77.92
13,GAT,cSBM_data_phi_1,0.600,0.200,0.1,0.002,0.0005,98.310000,0.427668,98.26
14,ChebNet,cSBM_data_phi_1,0.025,0.025,0.1,0.002,0.0005,60.111555,1.778254,57.44
15,ChebNet,cSBM_data_phi_1,0.600,0.200,0.1,0.002,0.0005,88.250000,1.314724,88.63

In [37]:
t_distribuation = 1.984 
num_of_samples = 100

df_sparse = combined[combined[2]==0.6]
print(df_sparse[1].unique())
data = []
for model in df_sparse[0].unique():
    
    row = [model]
    for dataset in df_sparse[1].unique():
        mean_acc = df_sparse[(df_sparse[0]==model) & (df_sparse[1]==dataset)][7]
        std = df_sparse[(df_sparse[0]==model) & (df_sparse[1]==dataset)][8]
        std_error = std / math.sqrt(num_of_samples)
        ci = std_error * t_distribuation

        row.append(mean_acc.values[0].round(2).astype(str) + " + " + ci.values[0].round(2).astype(str))
    data.append(row)
    row = []

table_sparse = pd.DataFrame(data, columns= ["model", '-1', '-0.75', '-0.5', '-0.25', '0', '0.25', '0.5', '0.75',
 '1'])

print(table_sparse.to_latex(index=False))

['cSBM_data_phi_-1.0' 'cSBM_data_phi_-0.75' 'cSBM_data_phi_-0.5'
 'cSBM_data_phi_-0.25' 'cSBM_data_phi_0' 'cSBM_data_phi_0.25'
 'cSBM_data_phi_0.5' 'cSBM_data_phi_0.75' 'cSBM_data_phi_1']

,model,-1,-0.75,-0.5,-0.25,0,0.25,0.5,0.75,1
0,SGC,69.68 + 0.29,78.52 + 0.34,71.05 + 0.21,59.34 + 0.25,63.95 + 0.27,81.46 + 0.24,93.82 + 0.18,97.42 + 0.14,94.26 + 0.08
1,MLP,50.23 + 0.28,67.87 + 0.28,75.83 + 0.32,79.71 + 0.23,82.35 + 0.2,80.63 + 0.25,76.64 + 0.2,68.03 + 0.28,49.5 + 0.16
2,JKNet,86.75 + 0.76,89.97 + 1.14,84.91 + 0.6,51.81 + 0.52,59.6 + 0.4,77.61 + 0.3,92.56 + 0.12,97.97 + 0.06,98.26 + 0.07
3,APPNP,48.8 + 0.12,49.36 + 0.12,49.31 + 0.2,60.63 + 0.32,75.12 + 0.27,85.78 + 0.16,94.25 + 0.1,97.97 + 0.09,96.93 + 0.09
4,GPRGNN,98.29 + 0.06,97.44 + 0.09,92.94 + 0.16,81.17 + 0.21,73.94 + 0.17,80.85 + 0.14,92.07 + 0.17,97.69 + 0.1,98.58 + 0.06
5,GCN,78.75 + 0.27,83.88 + 0.26,76.86 + 0.34,59.41 + 0.27,62.78 + 0.29,80.73 + 0.22,93.7 + 0.13,97.48 + 0.09,96.63 + 0.13
6,GAT,87.29 + 0.25,87.62 + 0.33,76.93 + 0.25,58.65 + 0.36,62.4 + 0.21,79.83 + 0.26,92.83 + 0.18,97.78 + 0.05,98.31 + 0.08
7,ChebNet,90.05 + 0.2,95.19 + 0.15,91.97 + 0.17,84.24 + 0.26,80.01 + 0.27,84.88 + 0.17,92.01 + 0.14,94.72 + 0.15,88.25 + 0.26